.body{
    /* background-color: red; */
    width: 1000px;
    height: 900px;
     margin:auto;
  
}
.row{
    display: flex;
    flex-grow: 1;
    /* background-color: blue; */
}
.gameboard{
    display:flex;
    flex-direction: column;
    align-items: stretch;
}
.playtic{
    flex-grow: 1;
    margin: 4px;
    font-size: 5em;
    font-weight: bold;
    width: 90px;
    height: 90px;

}
.title{
    font-size: 1.8em;
   margin-left: 80px;
    color: aqua;
    width: 250px;
}

.reset{
margin-left: 350px;
}
.xbtn{
    color: brown;
}
.obtn{
    color: blue;
}
.background1{
   background-image: url("bg.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}
.background2{
    background-image: url("img.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
p{
    margin-left: 200px;
}
.Title{
font-size: 50px;
margin-left: 30px;
 margin-top: -190px;
text-align: center;
color: #2c2c2c;
background-color: #d5d5d5;
letter-spacing: .05em;
text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
height: 100px;
padding-top: 40px;

}
body{
    user-select: none;
background-image: url("background1.jpg");
font-family:"lobster",cursive;
}

